body {
    background-color: beige;
}

#title-card {
    width: 300;
    height: 140;
    margin: 10;
    padding: 10;
    background-color: blue; 
}

#p-title {
    color: white;
    font-size: 30;
}

#rules-card {
    background-color: blue;
    width: 100%;
    height: 100;
    padding: 10;
}

#number-card {
    width: 200;
    height: 110;
    margin: 10;
    padding: 10;
    background-color: blue; 
}

#record-card {
    width: 200;
    height: 110;
    margin: 10;
    padding: 10;
    background-color: blue; 
}

.column {
    float: left;
    clear: both;
    display: table;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

#score-card {
    width: 200;
    height: 110;
    margin: 10;
    padding: 10;
    background-color: blue; 
}

